<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="loginNavbar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
            <div sec:authorize="isAuthenticated()">
                <a onclick="openLKPage()" style="color: #fff; font-weight: bold">В личный кабинет</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</th:block>
</body>
</html>