<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="sidebar">
    <div class="card">
        <div class="card-body">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="/lk">
                    <h6>Мои мероприятия</h6>
                </a>
                <a class="list-group-item list-group-item-action" href="/stats">
                    <h6>Статистика</h6>
                </a>
                <a class="list-group-item list-group-item-action" href="/edit/user">
                    <h6>Настройки</h6>
                </a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>