<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="sidebar">
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
<!--                <li>-->
<!--                    <a href="/stats">-->
<!--                        <i class="tim-icons icon-chart-bar-32"></i>-->
<!--                        <p style="font-size: 9pt; font-weight: bold">Статистика</p>-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a href="/lk">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p style="font-size: 9pt; font-weight: bold">Список мероприятий</p>
                    </a>
                </li>
                <li>
                    <a href="/event/create">
                        <i class="tim-icons icon-single-copy-04"></i>
                        <p style="font-size: 9pt; font-weight: bold">Новое мероприятие</p>
                    </a>
                </li>
                <li>
                    <a href="/edit/user">
                        <i class="tim-icons icon-single-02"></i>
                        <p style="font-size: 9pt; font-weight: bold">Настройки профиля</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>