<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Покупка билетов</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="content">
    <div class="header">
        <div id="event"></div>
        <div id="place"></div>
    </div>
    <div id="Ticketselect">
        <div th:each = "event : ${event}" th:value="${event.getTicketList()}">
            <div th:each="ticket : ${event.getTicketList()}">
                <!--<div th:each="consumer : ${ticket.getConsumer()}">-->
                <div class="row">
                    <div class="col-md-2">
                        <div class="card"  style="margin-top: 5px">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span>Тип билета: </span>
                                    <span th:text = "${ticket.getTicketType()}"></span>
                                </h5>
                                <div class="card-text">
                                    <span>Цена: </span>
                                    <span th:text = "${ticket.getTicketPrice()}"></span>
                                </div>
                                <button class="btn btn-primary btn-lg" style="margin-top: 10px" data-toggle="modal" href="#ticketModal" role="button" th:href="'#ticketModal'+${ticket.id}">Купить билеты</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ticketModal" th:id="'ticketModal'+${ticket.id}" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modalstyle">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ticketModalLabel">Выберите количество билетов</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span>Тип билета: </span>
                                    <span th:text="${ticket.getTicketType()}"></span>
                                    <p></p>
                                    <span>Цена: </span>
                                    <span th:text="${ticket.getTicketPrice()}"></span>
                                    <p></p>
                                    <span>Кол-во билетов</span>
                                    <input style="margin-top: 10px" id="ticketCount" class="form-control" name="ticketCount" type="number" value="1" onchange="sum(this)" th:min="1" th:max="${ticket.getTicketCount()}"/>
                                </div>
                                <div class="modalfooter">
                                    <button class="btn btn-primary btn-lg" style="margin-top: 10px" data-toggle="modal" href="#dataModal" role="button" th:href="'#dataModal'+${ticket.id}">Далее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="dataModal" th:id="'dataModal'+${ticket.id}" tabindex="-1" role="dialog" aria-labelledby="dataModalLavel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modalstyle">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dataModalLabel">Введите данные</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="first-name-for-buy-ticket">Имя: </label>
                                        <input id="first-name-for-buy-ticket" class="form-control" name="firstname" type="text" placeholder="Иван"
                                               data-error="Имя должно начинаться с заглавной буквы, минимум из 2-х символов и только буквы."
                                               pattern="^[A-ZА-ЯЁ][a-zа-яё]+$"
                                               required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name-for-buy-ticket">Фамилия: </label>
                                        <input id="last-name-for-buy-ticket" class="form-control" name="lastname" type="text" placeholder="Иванов"
                                               data-error="Фамилия должно начинаться с заглавной буквы, минимум из 2-х символов и только буквы."
                                               pattern="^[A-ZА-ЯЁ][a-zа-яё]+$"
                                               required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-user-email">Email</label>
                                        <input type="email"
                                               class="form-control"
                                               data-error="Неверный формат Email"
                                               required="required"
                                               pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]*(\.[A-Za-z]{2,})$"
                                               id="add-user-email"/>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-user-phone-number">Номер телефона</label>
                                        <input type="tel"
                                               class="form-control"
                                               data-error='Введите телефон в допустимом формате (только цифры)'
                                               required="required"
                                               pattern="[0-9]*$"
                                               id="add-user-phone-number" placeholder="89000000000"/>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <span>Итоговая сумма: </span>
                                        <span>?</span>
                                    </div>
                                </div>
                                <div class="modalfooter">
                                    <button class="btn btn-primary btn-lg" style="margin-top: 10px" th:onclick="'buyTicket('+ ${ticket.getId()} + ',' + ${ticket.getTicketPrice()} + ',' + ${event.id} +')'">Купить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/event.js}"></script>
<script type="text/javascript">
    function sum() {
        var count = document.getElementById("ticketCount").value;
        // var price = document.getElementById(ticket.getTicketPrice()).value;
    }
</script>
<!--<script type="text/javascript" th:src="@{/js/ticket.js}"></script>-->
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>