<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация мероприятия</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="content">
    <div class="header">
        <div id="event"></div>
        <div id="place"></div>
    </div>
</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<div id="SeatSelect">
    <div class="tab-pane fade show active" id="list-event" role="tabpanel" aria-labelledby="list-home-event">
        <div class="card card-default">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs pull-xs-left">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Список мероприятий</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-toggle="modal" data-target="#eventModal">
                            Новое мероприятие
                        </button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9">
                            <table id = "teamTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Название</th>
                                    <th scope="col">Адрес</th>
                                    <th scope="col">Кошелек</th>
                                    <th scope="col">Тип билета</th>
                                    <th scope="col">Цена</th>
                                </tr>
                                </thead>
                                <tbody id = "teamBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">Новое мероприятие</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">название: </label>
                    <input id="name" class="form-control" name="name" type="text" placeholder="Polyland"
                           data-error="Название должно начинаться с заглавной буквы, минимум из 2-х символов и только буквы."
                           pattern="^[A-ZА-ЯЁ][a-zа-яё]+$"
                           required="required"/>
                </div>
                <div class="form-group">
                    <label for="address">адрес: </label>
                    <input id="address" class="form-control" name="address" type="text" placeholder="Saint-Petersburg, Nevsky prospect, 1"/>
                </div>
                <div class="form-group">
                    <label for="pocket">кошелек: </label>
                    <input id="pocket" class="form-control" name="pocket" type="number" placeholder="4100175017397"
                           data-error='Введите номер кошелька в допустимом формате (только цифры)'
                           required="required"/>
                </div>
                <div class="modalfooter">
                    <button class="button btn-primary" onclick="addEvent()">Добавить мероприятие</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/lk.js}"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>